# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build output
dist/
client/dist/
server/dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode settings
.vscode/

# OS / editor junk
.DS_Store
.idea/
*.suo
*.sw?

# TypeScript cache
*.tsbuildinfo

